.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.chat-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0b0c10;        /* temppoary color */
}

.connect-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  border: #000 1px solid;
  border-radius: 15px 15px 0px 0px;
}

.chat-header{
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #f5f5f5d7;        /* temppoary color */
  border: #000 1px solid;
  border-radius: 15px 15px 15px 15px;
}

.chat-messages{
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  height: 80%;
  width: 100%;
  background-color: #f5f5f54c;        /* temppoary color */
  margin-left: 10px;
  margin-right: 10px;
  border: #000 1px solid;
  border-radius: 15px 15px 15px 15px;
}

.chat-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y:scroll;
  height: 10%;
  width: 100%;
  background-color: #f5f5f5e5;        /* temppoary color */
  border: #000 1px solid;
  border-radius: 15px 15px 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
}