.chat-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-paper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat-header {
  margin-bottom: 20px;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse; /* This reverses the order of messages */
  overflow-y: auto;
  margin-bottom: 20px;
}

.chat-input {
  display: flex;
  align-items: center;
  background-color: #c5c6c7;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
}

.message.me {
  background-color: #d1ffd6;
  align-self: flex-end;
}

.message.partner {
  background-color: #d6d6ff;
  align-self: flex-start;
}

.message.system {
  background-color: #fffacd;
  align-self: center;
  text-align: center;
  width: auto;
}
