.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0c10; /* Dark blue background color */
  }
  
  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #c5c6c7; /* White text color */
  }
  
  .content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .content button {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  